package pages

import "github.com/zqz/web/backend/web/layout"

templ Home() {
	@layout.Main("👋 Hello World!") {
		<div>
			Hello World!
			<ul>
				<li>
					<a href="/admin/files">files</a>
				</li>
				<li>
					<a href="/admin/users">users</a>
				</li>
			</ul>
			<a href="/auth?provider=google">login with google</a>
		</div>
	}
}
