package admin

import "github.com/zqz/web/backend/web/layout"

templ PageError(err error) {
	@layout.Main("error") {
		<div>
			<b>Error</b>:
			<br/>
			<p>
				{ err.Error() }
			</p>
		</div>
	}
}
