package admin

import "github.com/zqz/web/backend/filedb"
import "github.com/zqz/web/backend/web/layout"

templ PageFiles(db *filedb.FileDB) {
	@layout.Main("Admin | All Files") {
		{{ files, _ := db.List(0) }}
		<div>
			for _, i := range files {
				{{ url := "/admin/files/" + i.Slug }}
				<div>
					<a href={ templ.URL(url) }>{ i.Name }</a>
					<a hx-delete={ templ.URL(url) } hx-swap="outerHTML">delete</a>
				</div>
			}
		</div>
	}
}
