package admin

import "github.com/zqz/web/backend/userdb"
import "github.com/zqz/web/backend/web/layout"

templ PageUser(u *userdb.User) {
	@layout.Main("Admin | User") {
		<div>
			<b>User</b>
			<hr/>
			<p>
				{ u.Email }
				{ u.ID }
				{ u.Provider } - { u.ProviderID }
				{ u.CreatedAt.String() }
			</p>
		</div>
	}
}
