name: zqz
services:
  backend:
    environment:
      - ZQZ_ENV=development
      - DATABASE_URL=postgres://postgres@zqz-db:5432/zqz-dev?sslmode=disable
      - FILES_PATH=./files
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: zqz-backend
    command: go run cmd/backend/main.go
    volumes:
      - ./backend:/app
      - zqz_data:/app/files
    depends_on:
      - db
    ports:
      - 3001:3001
    env_file:
      - backend/.env
  db:
    image: postgres:15.4-alpine
    container_name: zqz-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: "postgres -c 'max_connections=500'"
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: zqz-dev

volumes:
  postgres_data: {}
  zqz_data: {}
  node_modules: {}

networks:
  default:
    name: zqz-dev
