* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height 100%;
  border: 0;
  margin: 0;
  padding: 32px;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.monospace {
  font-family: monospace;
}
