{{define "files_list.html"}}
<ul id="file-list" class="list">
    {{range .Rows}}
    {{template "partial_file_row" .}}
    {{else}}
    <li>{{t "files.no_results"}}</li>
    {{end}}
</ul>
{{if .HasMore}}
<p class="load-more" id="load-more-wrap">
    <button hx-get="/files/list?limit={{.LoadMoreLimit}}&offset={{.NextOffset}}{{if .SearchEncoded}}&q={{.SearchEncoded}}{{end}}"
            hx-target="#file-list"
            hx-swap="beforeend">
        {{t "files.load_more"}}
    </button>
</p>
{{end}}
{{end}}
