.Buttons {
  display: flex;
}

.Buttons .Button {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  box-sizing: border-box;
}

.Buttons .Button:hover {
  text-decoration: underline;
}

