input[type=checkbox] {
  appearance: none;
}

.Checkbox-Container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.Checkbox-Container .Label {
  width: 150px;
  border-right: solid 3px black;
  margin-right: 10px;
}

.Checkbox-Container .Help {
  text-align: right;
  flex-grow: 1;
}

.Checkbox {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  cursor: pointer;
}

.Checkbox .Inside {
  width: 10px;
  height: 10px;
}

.Checkbox.Active .Inside {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid  #2C6FD1;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
