.FileList.Grid {
}

.FileList.Grid .Container {
}

.FileList.Grid .List {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FileList.Grid .List .File {
  justify-content: space-between;
  width: calc((100%/4) - (8px));
  height: 150px;
	margin-bottom: 10px;
	padding: 5px;
  overflow: hidden;

  filter: grayscale(100%);

  border: solid 1px black;
	border-bottom: solid 5px black;
}

.FileList.Grid .List .File:hover {
  filter: none;
}

.FileList.Grid .List .File:hover .Name {
  display: none;
}
.FileList.Grid .List .File:hover .Size {
  display: block;
}

.FileList.Grid .List a.File:hover {
}

.FileList.Grid .List a.File {
	text-decoration: none;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

.FileList.Grid .List a.File .Size {
  padding: 3px;
  text-align: center;
	color: white;
  background-color: black;
  padding-bottom: 5px;
	font-weight: bold;
  display: none;
}

.FileList.Grid .List a.File .Name {
  padding: 3px 3px;
  text-align: center;
	color: white;
  background-color: black;
  padding-bottom: 5px;
	font-weight: bold;
  max-width: 100%;
  margin-right: 5px;
}
