.FileItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
  left: -10px;
  width: calc(100% + 3px);
  position: relative;
}

.FileItem .Side {
  width: 10px;
  display: block;
}

.FileItem .Side

.FileItem .Side::before {
  content: ' ';
  background-color: red;
  width: 3px;
  height: 100%;
  display: inline-block;
  border-bottom-left-radius: 3px;
}

.FileItem .Main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.FileItem:nth-last-child(1) {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.FileItem .Main .Top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.FileItem .Main .Top .Left {
  text-align: left;
  flex-grow: 1;
}

.FileItem .Main .Top .Name {
  font-weight: bold;
}

.FileItem .Main .Top .Percent {
  margin-left: 10px;
}

.FileItem .Main .Top .Progress {
  font-family: monospace;
}

.FileItem .Main .Bottom {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.FileItem .Main .Bottom .Hash {
}
