.FileItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  left: -10px;
  width: calc(100% + 20px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;

  background-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
  inset 5px 5px 20px rgba(0, 0, 0, 0.1),
  inset 0px 0px 1px rgba(0, 0, 0, 0.2);

  transition-property: all;
  transition-duration: 220ms;
}

.FileItem .Main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.FileItem:nth-last-child(1) {
  margin-bottom: 0;
  border-bottom: none;
}

.FileItem .Main .Top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.FileItem .Main .Top .Left {
  text-align: left;
  flex-grow: 1;
}

.FileItem .Main .Top .Name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

.FileItem .Main .Top .Percent {
  margin-left: 10px;
}

.FileItem .Main .Bottom {
  display: flex;
  justify-content: space-between;
}
