.FileView .Button {
  display: inline-block;
  margin-top: 15px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.FileView .Content {
  display: flex;
  flex-direction: row;
}

.FileView .Content .Left {
  max-width: 70%;
}

.FileView .Content .Right {
  text-align: right;
  flex-grow:1;
  width: 30%;
}

.FileView .Content .Right .Link {
  padding-left: 5px;
  border-left: solid 3px black;
}
