.Footer {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Footer .Container {
  display: flex;
  justify-content: space-between;
}
