.Header {
  line-height: 30px;
  vertical-align: middle;
}

.Dark .Header {
  border-bottom: solid 5px white;
}

.Header a.Logo {
  font-weight: bold;
}

.Header a {
  text-decoration: none;
  color: #1A4C3A;
  text-transform: lowercase;
  font-weight: bold;
}

.Header a:hover {
  color: #395339;
}

.Dark .Header a {
  color: white;
}

.Header .Navigation a {
  margin-left: 10px;
}

.Header .Container {
  display: flex;
  justify-content: space-between;
}
