html {
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.Section {
  display: block;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.Section .Extra {
  display: inline-block;
  float: right;
}

.Section .ExtraSearch {
  background-color: transparent;
  border: 0;
  color: white;
  text-align: right;
  padding: 0;
  margin: 0;
  height: 16px;
  display: inline;
  font-weight: bold;
font-family: monospace;
font-size: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

[contenteditable="true"]:focus {
    outline: none;
}

