.ProgressBar {
border: solid 1px black;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQImWNggID/DGgAQwAbIKwLLgAA/moE/FwLUTgAAAAASUVORK5CYII=);
  height: 10px;
  margin: 5px 0;
}

.ProgressBar .Bar {
  transition-property: all;
  transition-duration: 220ms;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAK0lEQVQYV1WMQQoAAAjC5v8fbUgU5XFOBdg2kpgo5IIUqb1Kzz6cmzXvbwFCAhP+QJDg2gAAAABJRU5ErkJggg==);
  height: 8px;
  transition: width 200ms;
}
