$black: black;
$link-normal: #4A89DC;
$link-visited: #967ADC;

$file-done: #a0d468;
$file-error: #da4453;

$button-color: $link-normal;
$button-remove-color: #434a54;
$button-hover-darken: 10;
$button-active-darken: 15;

$border-radius: 3px;
