name: 'Deploy to Production'

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-verison: '1.14.2'

    - run: |
        go build

    - name: 'Test and Coverage'
      uses: paambaati/codeclimate-action@v2.6.0
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CODE_CLIMATE_ID }}
      with:
        coverageCommand: go test -coverprofile c.out ./...
        prefix: github.com/zqz/upl

    - name: 'Copy Build to Server'
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        source: "upl"
        target: "/home/zqz"

    - name: 'Extact Artifact'
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cp upl upl-$GITHUB_SHA
          sudo systemctl stop zqz
          mv upl-current upl-previous
          mv upl upl-current
          sudo systemctl start zqz
